.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: var(--mantine-spacing-sm);
}
.entry {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--mantine-spacing-sm);
  align-items: start;
}
.entry > :first-child {
  margin-top: 0.125rem;
}
