.root {
  display: grid;
  grid-template-columns: 1.15fr 0.85fr;
  gap: clamp(2rem, 5vw, 5rem);
}

.root > * {
  min-width: 0;
}

@media (max-width: 61.25em) {
  .root {
    grid-template-columns: 1fr;
  }
}
