.media {
  position: relative;
  flex: 0 0 3.75rem;
  width: 3.75rem;
  height: 3.75rem;
  overflow: hidden;
  border-radius: 50%;
  filter: drop-shadow(0 3px 8px rgb(0 0 0 / 25%));
}

.media > * {
  position: absolute;
  inset: 0;
}

@media (max-width: 30em) {
  .media {
    flex-basis: 2.75rem;
    width: 2.75rem;
    height: 2.75rem;
  }
}
