.localCursor {
  cursor: none !important;
}
.avatar {
  position: absolute;
  top: 35px;
  left: -4px;
  box-sizing: border-box;
  display: block;
  width: 34px;
  height: 34px;
  overflow: hidden;
  flex-shrink: 0;
  border: 2px solid;
  border-radius: 50%;
  background: #21170d;
  box-shadow: 0 2px 5px #0006;
}
.avatar svg,
.avatar img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
