.head {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
}

.shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/image/card/head-shade-large.webp");
  background-size: 100% 100%;
  mix-blend-mode: soft-light;
  opacity: 0.8;
}

.title {
  left: 95px;
  top: 73px;
  width: 560px;
  height: 86px;
  overflow: hidden;
  position: absolute;
  font-family: "C_Copperplate_Gothic", sans-serif;
  font-size: 60px;
  color: white;
  line-height: 86px;
  opacity: 0.937;
}

.subtitle {
  left: 93px;
  top: 176px;
  width: 470px;
  height: 67px;
  overflow: hidden;
  position: absolute;
  font-family: "C_Trebuchet", sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #0b0503;
  line-height: 67px;
  opacity: 0.937;
}

.symbol {
  position: absolute;
  top: 94px;
  right: 101px;
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: inset 0 0 4px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.titleText {
  display: inline-block;
  white-space: nowrap;
}
.symbolOverlay {
  width: 85px;
  height: 85px;
  mix-blend-mode: overlay;
  flex-shrink: 0;
}
.symbolShade {
  width: 85px;
  height: 85px;
  position: absolute;
  top: 20px;
  left: 20px;
  opacity: 0.5;
}
